.flip-card {
  background-color: transparent;
  width: 280px;
  height: 280px;
  perspective: 1000px;
  border-radius: 16px;
}

.img {
  width: 280px;
  height: 280px;
  border-radius: 16px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 16px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  border-radius: 16px;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 16px;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 16px;
}

.flip-card-back {
  background-color: #091322;
  color: white;
  transform: rotateY(180deg);
  border-radius: 16px;
  padding: 20px;
}